.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 1px;

  nav {
    height: 100%;

    ul {
      display: flex;
      flex-direction: column;
      height: 100%;
      align-items: center;
      justify-content: center;
      margin: 0;

      li {
        margin: 0;
        padding: 10px;
        cursor: pointer;

        &:hover {
          filter: invert(0.5);
        }

      }
    }
  }
}
