.header {
  padding-inline: 15px;
  height: 1px;

  nav {
    height: 100%;
    display: flex;
    align-items: center;

    .logo-wrapper {
      .logo {
        width: 200px;
      }
    }

    ul {
      display: flex;
      height: 100%;
      align-items: center;
      margin: 0;

      li {
        display: flex;
        align-items: center;
        height: 100%;
        max-height: 70px;
        padding: 0 10px;
        cursor: pointer;
      }
    }
  }
}
