.container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 1px;

  @media only screen and (max-width: 640px) {
    height: 100%;
  }

  &-mobile {
    height: 100%;
  }

  .content {
    max-width: 992px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 90%;
    height: 90%;
  }
}
