.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 1px;

  @media only screen and (max-width: 640px) {
    height: auto;
  }

  &-mobile {
    height: auto;
  }

  .content {
    position: relative;
    max-width: 992px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 90%;
    height: 90%;

    .gridster-container {
      width: 100%;
      height: 100%;
    }

    .section-element-wrapper {
      width: 100%;
      height: 100%;

      .section-element {
      }
    }

    @media only screen and (max-width: 640px) {
      padding-block: 20px;
    }

    &-mobile {
      padding-block: 20px;
    }
  }
}
