.website-settings {
  display: flex;
  flex-direction: column;
  gap: 20px;

  .file-upload {
    display: flex;
    flex-flow: column;
    align-items: center;
    gap: 5px;

    .file-upload-input {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;

      .file-upload-label {
        cursor: default;
      }
    }

    .upload-img {
      display: flex;
      width: 100%;
      justify-content: space-between;
      align-items: center;

      &-favicon {
        width: 24px;
        height: 24px;
      }

      &-logo {
        width: 150px;
      }
    }
  }
}
