:root {
  --rich-black: #{$rich-black};
  --rich-black-lighter: #{$rich-black-lighter};
  --rosewood: #{$rosewood};
  --penn-red: #{$penn-red};
  --engineering-orange: #{$engineering-orange};
  --sinopia: #{$sinopia};
  --persimmon: #{$persimmon};
  --princeton-orange: #{$princeton-orange};
  --selective-yellow: #{$selective-yellow};
  --white: #{$white};

  --rich-black-lighter-ripple: #{$rich-black-lighter-ripple};

  --font-size-xs: #{$font-size-xs};
  --font-size-sm: #{$font-size-sm};
  --font-size-base: #{$font-size-base};
  --font-size-lg: #{$font-size-lg};
  --font-size-xl: #{$font-size-xl};
  --font-size-2xl: #{$font-size-2xl};
  --font-size-3xl: #{$font-size-3xl};
  --font-size-4xl: #{$font-size-4xl};

  --font-family: #{$font-family};
  --font-family-alt: #{$font-family-alt};

  --font-weight-regular: #{$font-weight-regular};
  --font-weight-semibold: #{$font-weight-semibold};
  --font-weight-bold: #{$font-weight-bold};

  --toolbar-height: #{$toolbar-height};

  --sidenav-transition-duration: #{$sidenav-transition-duration};

  --breakpoint-mobile: #{$breakpoint-mobile};

  --box-shadow-xl: #{$box-shadow-xl};
}
