:root {
  // Colors
  --rich-black: #{$rich-black};
  --rich-black-light: #{$rich-black-light};
  --rosewood: #{$rosewood};
  --penn-red: #{$penn-red};
  --engineering-orange: #{$engineering-orange};
  --sinopia: #{$sinopia};
  --persimmon: #{$persimmon};
  --princeton-orange: #{$princeton-orange};
  --selective-yellow: #{$selective-yellow};
  --white: #{$white};
  --rich-black-light-ripple: #{$rich-black-light-ripple};
  --rich-black-lighter: #{$rich-black-lighter};


  // Fonts
  --font-size-xs: #{$font-size-xs};
  --font-size-sm: #{$font-size-sm};
  --font-size-base: #{$font-size-base};
  --font-size-lg: #{$font-size-lg};
  --font-size-xl: #{$font-size-xl};
  --font-size-2xl: #{$font-size-2xl};
  --font-size-3xl: #{$font-size-3xl};
  --font-size-4xl: #{$font-size-4xl};

  // Line Heights
  --line-height-xs: #{$line-height-xs};

  // Font Families
  --font-family: #{$font-family};
  --font-family-alt: #{$font-family-alt};

  // Font Weights
  --font-weight-regular: #{$font-weight-regular};
  --font-weight-semibold: #{$font-weight-semibold};
  --font-weight-bold: #{$font-weight-bold};

  // Heights
  --toolbar-height: #{$toolbar-height};

  // Transition durations
  --sidenav-transition-duration: #{$sidenav-transition-duration};

  //Breakpoints
  --breakpoint-mobile: #{$breakpoint-mobile};

  //Box Shadows
  --box-shadow-xl: #{$box-shadow-xl};
}

.dragging-cursor {
  cursor: grabbing;
}
