*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  border: none;
}

body {
  margin: 0;
  height: 100vh;
}

img {
  display: block;
  max-width: 100%;
}

article ol,
article ul {
  list-style-position: inside;
}

a {
  text-underline-position: under;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
}

:focus:not(:focus-visible) {
  outline: none;
}

label,
button,
select,
summary,
[type='radio'],
[type='submit'],
[type='checkbox'] {
  cursor: pointer;
}
