<div class="dialog-container mat-app-background mat-typography">
  <h2 mat-dialog-title class="mat-elevation-z6">{{ 'WEBSITE_SETTINGS_DIALOG.TITLE' | translate }}</h2>
  <mat-dialog-content>
    <p>{{ 'WEBSITE_SETTINGS_DIALOG.CONTENT' | translate }}</p>
    <div class="grid grid--fluid content-wrapper mat-elevation-z6">
      <div>
        <h3>{{ 'WEBSITE_SETTINGS_DIALOG.LABELS.WEBSITE' | translate }}</h3>
        <drd-website-settings></drd-website-settings>
      </div>
      <div>
        <h3>{{ 'WEBSITE_SETTINGS_DIALOG.LABELS.COLORS' | translate }}</h3>
        <drd-theme-colors-picker [colorPickerPosition]="'auto'" [height]="true"></drd-theme-colors-picker>
      </div>
      <div>
        <h3>{{ 'WEBSITE_SETTINGS_DIALOG.LABELS.FONTS' | translate }}</h3>
        <drd-theme-fonts-select></drd-theme-fonts-select>
      </div>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions [align]="'end'">
    <button color="accent" mat-raised-button [mat-dialog-close]="true" cdkFocusInitial>
      {{ 'COMMON.BUTTONS.CLOSE' | translate }}
    </button>
  </mat-dialog-actions>
</div>
