// Fonts
$font-family: 'Montserrat';
$font-family-alt: sans-serif;

// Font Sizing
$font-size-html: 62.5%;
$font-size-xs: 0.8rem;
$font-size-sm: 1.2rem;
$font-size-base: 1.6rem;
$font-size-lg: 1.8rem;
$font-size-xl: 2.4rem;
$font-size-2xl: 3rem;
$font-size-3xl: 3.6rem;
$font-size-4xl: 4.2rem;

// Font Weights
$font-weight-regular: 400;
$font-weight-semibold: 600;
$font-weight-bold: 700;

// Colors
$rich-black: #03071eff;
$rich-black-lighter: #292c40;
$rosewood: #6a040fff;
$penn-red: #9d0208ff;
$engineering-orange: #d00000ff;
$sinopia: #dc2f02ff;
$persimmon: #e85d04ff;
$princeton-orange: #f48c06ff;
$selective-yellow: #ffba08ff;
$white: #ffffffff;
$rich-black-lighter-ripple: rgba(41, 44, 64, 0.75);

// Heights
$toolbar-height-value: 64;
$toolbar-height: #{$toolbar-height-value}px;
