header {
  .mat-toolbar {
    position: relative;
    height: $toolbar-height;
    z-index: 10;
    gap: 10px;
    overflow: auto;

    .subcontainer {
      display: flex;
      height: 100%;
      align-items: center;
      gap: 10px;
      flex: 1;
      justify-content: flex-start;

      &--end {
        justify-content: flex-end;
      }
    }

    .menu {
      width: 48px;
      height: 100%;
      padding: 0;
      background-color: $rich-black;
      color: $white;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: background-color 0.2s ease-in-out;

      &:hover {
        background-color: $rich-black-light-ripple;
        transition: background-color 0.2s ease-in-out;
      }
    }

    .mat-icon.logo {
      display: flex;
      height: auto;
      width: 200px;
      cursor: pointer;

      &--small {
        width: 50px;
      }
    }

    .viewport-toggle {
      border: 2px solid $white;
      border-radius: 5px;
      align-items: center;

      .toggle-option {
        color: $white;
        border: none;
        transition: background-color 0.2s ease-in-out;
        cursor: pointer;

        &.mat-button-toggle-checked {
          background-color: $penn-red;
        }

        button {
          display: flex;
          padding: 6px;

          .mat-button-toggle-label-content {
            display: flex;
            padding: 0;
          }
        }
      }

      .toggle-option:not(.mat-button-toggle-checked):hover {
        background-color: $rich-black-light-ripple;
        transition: background-color 0.2s ease-in-out;
      }

      .vertical-divider {
        width: 2px;
        background-color: $white;
        align-self: stretch;
      }
    }

    .current-page-title {
      display: flex;
      flex-grow: 0;
      flex-shrink: 0;
      justify-content: center;

      .mat-mdc-form-field.current-page {
        width: 80%;

        &.mat-focused {
          background-color: $rich-black-light-ripple;
        }

        &:hover {
          background-color: $rich-black-light-ripple;
        }
      }
    }
  }
}
