$rich-black: var(--rich-black);
$rich-black-light: var(--rich-black-light);
$penn-red: var(--penn-red);
$white: var(--white);

mwlResizable {
  box-sizing: border-box; // required for the enableGhostResize option to work
}

.rectangle {
  position: relative;
  width: 100%;
}

.resize-edge-top,
.resize-edge-bottom {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5px;
  width: 100%;
  background-color: $rich-black-light;
  border: 1px solid $rich-black-light;
  border-radius: 5px;

  .resize-handle-top,
  .resize-handle-bottom {
    position: relative;
    height: 12px;
    width: 12px;
    background-color: $white;
    border: 3px solid $rich-black-light;
    overflow: visible;
    cursor: row-resize;
    z-index: 10;
  }
}

.resize-edge-top {
  top: 0;
}

.resize-edge-bottom {
  bottom: 0;
}

.resize-edge-left,
.resize-edge-right {
  position: absolute;
  height: 100%;
  width: 5px;
  cursor: col-resize;
}

.resize-edge-left {
  left: 0;
}

.resize-edge-right {
  right: 0;
}

.drag-handle {
  overflow: hidden;
  cursor: grab;
}

.drag-handle:active {
  cursor: grabbing;
}
