<div
  class="rectangle"
  #resizableElement
  mwlResizable
  [ngStyle]="style"
  [validateResize]="validate"
  cdkDrag
  drdDragCursor
  cdkDragBoundary=".canvas"
  (contextmenu)="onContextMenu($event)">
  <div class="selected" *ngIf="component?.selected === true">
    <div class="selected-edge-top mat-elevation-z20"></div>
    <div class="selected-edge-right mat-elevation-z20"></div>
    <div class="selected-edge-bottom mat-elevation-z20"></div>
    <div class="selected-edge-left mat-elevation-z20"></div>
  </div>
  <div class="resize-edge-bottom">
    <ng-container *ngIf="!(((isCurrentViewportMobile$ | async) || (isMobile$ | async)) && elementsCount)">
      <div
        *ngrxLet="normalHandleDirection$ | async as normalHandleDirection"
        class="resize-handle-bottom"
        mwlResizeHandle
        [resizeEdges]="normalHandleDirection ? { bottom: true } : { top: true }"></div>
    </ng-container>
  </div>
  <div cdkDragHandle class="drag-handle mat-elevation-z6">
    <mat-icon svgIcon="drag"></mat-icon>
  </div>
  <ng-template drdDynamicContentArea></ng-template>
  <drd-context-menu-wrapper #contextMenu [type]="contextMenuType" [section]="component"></drd-context-menu-wrapper>
</div>
