$white: var(--white);

.theme-color {
  display: flex;
  align-items: center;

  .theme-color-label {
    flex: 1 1 50%;
  }

  .theme-color-input {
    width: 40px;
    height: 40px;
    margin-right: 10px;
    border: 2px solid $white;
    border-radius: 50%;
    cursor: pointer;
  }
}
