<div class="accordion-wrapper">
  <mat-accordion multi="true">
    <mat-expansion-panel class="panel-box-shadow">
      <mat-expansion-panel-header>
        <mat-panel-title>{{ 'EDITOR.SIDENAVS.THEME_SETTINGS.PANELS.COLORS.TITLE' | translate }}</mat-panel-title>
      </mat-expansion-panel-header>
      <div class="panel-content-wrapper">
        <div class="theme-color" *ngFor="let color of colors$ | async | keyvalue: returnZero; trackBy: identify">
          <label class="theme-color-label">
            {{ 'EDITOR.SIDENAVS.THEME_SETTINGS.PANELS.COLORS.LABELS.' + (color.key | uppercase) | translate }}:
          </label>
          <div
            class="theme-color-input-wrapper"
            [colorPicker]="color.value"
            [cpPosition]="'right'"
            [cpPositionOffset]="'50%'"
            [cpPositionRelativeToArrow]="true"
            [cpAlphaChannel]="'disabled'"
            (colorPickerChange)="onColorChange(color.key, $event)">
            <div class="theme-color-input" [style.background-color]="color.value"></div>
          </div>
        </div>
      </div>
    </mat-expansion-panel>
    <mat-expansion-panel class="panel-box-shadow">
      <mat-expansion-panel-header>
        <mat-panel-title>{{ 'EDITOR.SIDENAVS.THEME_SETTINGS.PANELS.FONTS.TITLE' | translate }}</mat-panel-title>
      </mat-expansion-panel-header>
      <div class="panel-content-wrapper mat-component-density-s">
        <mat-form-field
          class="input-form-field"
          *ngFor="let font of fonts$ | async | keyvalue: returnZero; trackBy: identify">
          <mat-label>
            {{ 'EDITOR.SIDENAVS.THEME_SETTINGS.PANELS.FONTS.LABELS.' + (font.key | uppercase) | translate }}:
          </mat-label>
          <input type="text" matInput [formControl]="formControls[font.key]" [matAutocomplete]="auto" />
          <mat-autocomplete #auto="matAutocomplete" (optionSelected)="setFont($event, font.key)" class="select-panel">
            <mat-option class="select-option" *ngFor="let option of filteredFonts$[font.key] | async" [value]="option">
              {{ option }}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
</div>
