<div class="accordion-wrapper">
  <mat-accordion>
    <mat-expansion-panel
      class="panel-box-shadow"
      *ngFor="let sections of sectionTypes | keyvalue: returnZero; trackBy: identify">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{ 'EDITOR.SIDENAVS.SECTIONS.PANELS.' + (sections.key | uppercase) + '.TITLE' | translate }}
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="panel-content-wrapper">
        <div
          class="grid"
          cdkDropList
          [cdkDropListConnectedTo]="'canvas'"
          [cdkDropListData]="sections.value"
          [cdkDropListSortingDisabled]="true"
          (cdkDropListExited)="exited($event)"
          (cdkDropListEntered)="entered(sections.key)">
          <div
            class="grid-item-text mat-elevation-z6 insertable-section"
            *ngFor="let section of sections.value"
            matTooltip="{{ 'EDITOR.SIDENAVS.SECTIONS.TOOLTIPS.DRAG_SECTION' | translate }}"
            cdkDrag
            drdDragCursor
            [cdkDragData]="section">
            <span>{{ section.name }}</span>
          </div>
        </div>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
</div>
