$white: var(--white);
$line-height-xs: var(--line-height-xs);

mat-list.list.context-menu {
  mat-list-item.list-item {
    height: 50px;

    mat-form-field.select-form-field,
    mat-form-field.input-form-field {
      width: 100%;
    }

    .input-form-field input::-webkit-outer-spin-button,
    .input-form-field input::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    .input-form-field input[type='number'] {
      appearance: textfield;
      -moz-appearance: textfield;
    }

    mat-icon.item-icon {
      margin-left: 16px;
      margin-right: 8px;
    }

    span.item-label {
      padding-right: 16px;
    }

    .custom-color {
      display: flex;
      flex-direction: row;
      align-items: center;
      padding-inline: 16px;

      &-selected {
        width: 24px;
        height: 24px;
        margin-right: 8px;
        border: 2px solid $white;
        border-radius: 50%;
      }

      &-label {
        color: $white;
        line-height: $line-height-xs;
        white-space: normal;
      }

      .remove-color {
        margin-left: auto;
        color: $white;
      }
    }
  }
}
