<mat-list class="list context-menu">
  <mat-list-item
    *ngIf="!isHeaderOrFooter"
    class="list-item"
    matRipple
    [matRippleColor]="rippleColor"
    (click)="addElement()">
    <mat-icon class="item-icon" matListItemIcon svgIcon="add"></mat-icon>
    <span class="item-label" matListItemTitle>
      {{ 'EDITOR.CONTEXT_MENU.SECTION.LABELS.ADD_ELEMENT' | translate }}
    </span>
  </mat-list-item>
  <mat-list-item class="list-item" (click)="$event.stopPropagation()" matRipple [matRippleColor]="rippleColor">
    <mat-form-field class="select-form-field mat-component-density-s">
      <mat-label>{{ 'EDITOR.CONTEXT_MENU.SECTION.LABELS.BACKGROUND_THEME_COLOR' | translate }}</mat-label>
      <mat-select
        [value]="section?.inputs?.themeColor"
        (selectionChange)="setThemeColor($event)"
        panelClass="select-panel">
        <mat-option
          class="select-option select-option-s"
          *ngFor="let color of ThemeColor | keyvalue"
          [value]="color.value">
          {{ color.key }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </mat-list-item>
  <mat-list-item class="list-item" (click)="openColorPicker($event)" matRipple [matRippleColor]="rippleColor">
    <div
      class="custom-color"
      [colorPicker]="backgroundColor"
      [cpUseRootViewContainer]="true"
      [cpAlphaChannel]="'disabled'"
      [cpCancelButton]="true"
      [cpPresetColors]="[]"
      [cpOKButton]="true"
      [cpOKButtonText]="'COLOR_PICKER.BUTTONS.OK' | translate"
      [cpCancelButtonText]="'COLOR_PICKER.BUTTONS.CANCEL' | translate"
      [cpSaveClickOutside]="false"
      [cpToggle]="colorPickerToggle"
      (colorPickerSelect)="onColorChange($event)">
      <div *ngIf="backgroundColor" class="custom-color-selected" [style.background-color]="backgroundColor"></div>
      <label class="custom-color-label">
        {{ 'EDITOR.CONTEXT_MENU.SECTION.LABELS.BACKGROUND_CUSTOM_COLOR' | translate }}
      </label>
      <button
        *ngIf="backgroundColor"
        class="icon-button remove-color"
        mat-icon-button
        (click)="removeCustomColor()"
        [matTooltip]="'EDITOR.CONTEXT_MENU.SECTION.TOOLTIPS.REMOVE_CUSTOM_COLOR' | translate">
        <mat-icon svgIcon="close"></mat-icon>
      </button>
    </div>
  </mat-list-item>

  <ng-container *ngIf="isHeaderOrFooter">
    <mat-list-item class="list-item" (click)="$event.stopPropagation()" matRipple [matRippleColor]="rippleColor">
      <mat-form-field class="select-form-field mat-component-density-s">
        <mat-label>{{ 'EDITOR.CONTEXT_MENU.SECTION.LABELS.FONT_THEME_COLOR' | translate }}</mat-label>
        <mat-select
          [value]="section?.inputs?.fontThemeColor"
          (selectionChange)="setThemeColor($event, true)"
          panelClass="select-panel">
          <mat-option
            class="select-option select-option-s"
            *ngFor="let color of ThemeColor | keyvalue"
            [value]="color.value">
            {{ color.key }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </mat-list-item>
    <mat-list-item class="list-item" (click)="openColorPicker($event, true)" matRipple [matRippleColor]="rippleColor">
      <div
        class="custom-color"
        [colorPicker]="color"
        [cpUseRootViewContainer]="true"
        [cpAlphaChannel]="'disabled'"
        [cpCancelButton]="true"
        [cpOKButton]="true"
        [cpOKButtonText]="'COLOR_PICKER.BUTTONS.OK' | translate"
        [cpCancelButtonText]="'COLOR_PICKER.BUTTONS.CANCEL' | translate"
        [cpSaveClickOutside]="false"
        [cpToggle]="fontColorPickerToggle"
        (colorPickerSelect)="onColorChange($event, true)">
        <div *ngIf="color" class="custom-color-selected" [style.background-color]="color"></div>
        <label class="custom-color-label">
          {{ 'EDITOR.CONTEXT_MENU.SECTION.LABELS.FONT_CUSTOM_COLOR' | translate }}
        </label>
        <button
          *ngIf="color"
          class="icon-button remove-color"
          mat-icon-button
          (click)="removeCustomColor(true)"
          [matTooltip]="'EDITOR.CONTEXT_MENU.SECTION.TOOLTIPS.REMOVE_CUSTOM_COLOR' | translate">
          <mat-icon svgIcon="close"></mat-icon>
        </button>
      </div>
    </mat-list-item>
    <mat-list-item class="list-item" (click)="$event.stopPropagation()" matRipple [matRippleColor]="rippleColor">
      <mat-form-field class="select-form-field mat-component-density-s">
        <mat-label>{{ 'EDITOR.CONTEXT_MENU.SECTION.LABELS.FONT_FAMILY' | translate }}</mat-label>
        <mat-select
          [value]="section?.inputs?.themeFontFamily"
          (selectionChange)="setFontFamily($event)"
          panelClass="select-panel">
          <mat-option
            class="select-option select-option-s"
            *ngFor="let color of FontFamily | keyvalue"
            [value]="color.value">
            {{ color.key }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </mat-list-item>
    <mat-list-item class="list-item" (click)="$event.stopPropagation()" matRipple [matRippleColor]="rippleColor">
      <mat-form-field class="select-form-field mat-component-density-s">
        <mat-label>{{ 'EDITOR.CONTEXT_MENU.SECTION.LABELS.FONT_SIZE' | translate }}</mat-label>
        <mat-select [value]="fontSize" (selectionChange)="setFontSize($event)" panelClass="select-panel">
          <mat-option class="select-option select-option-s" *ngFor="let fontSize of fontSizes" [value]="fontSize">
            {{ fontSize }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </mat-list-item>
  </ng-container>
  <mat-list-item
    *ngIf="!(((isCurrentViewportMobile$ | async) || (isMobile$ | async)) && elementsCount)"
    class="list-item"
    (click)="$event.stopPropagation()">
    <mat-form-field class="input-form-field">
      <mat-label>{{ 'EDITOR.CONTEXT_MENU.SECTION.LABELS.SECTION_MIN_HEIGHT' | translate }}</mat-label>
      <input (keydown.enter)="submitInput()" matInput [formControl]="sectionMinHeightControl" />
    </mat-form-field>
  </mat-list-item>
  <mat-list-item class="list-item" matRipple [matRippleColor]="rippleColor" (click)="deleteSection()">
    <mat-icon class="item-icon" matListItemIcon svgIcon="delete"></mat-icon>
    <span class="item-label" matListItemTitle>
      {{ 'EDITOR.CONTEXT_MENU.SECTION.LABELS.DELETE_SECTION' | translate }}
    </span>
  </mat-list-item>
</mat-list>
