.input-form-field.mat-mdc-form-field {
  background-color: $rich-black-lighter;
  transition: background-color 0.2s ease-in-out;
  border-radius: 4px;
  cursor: pointer;

  .mdc-text-field {
    .mat-mdc-form-field-flex div.mat-mdc-form-field-infix {
      display: flex;
      align-items: center;
      height: 100%;
      min-height: auto;
      gap: 5px;
    }

    &.mdc-text-field--no-label:not(.mdc-text-field--outlined):not(.mdc-text-field--textarea) {
      .mat-mdc-form-field-infix {
        display: flex;
        align-items: center;
        padding: 0;
        height: 100%;
        min-height: auto;
        gap: 5px;
      }
    }
  }

  input.mdc-text-field__input {
    color: rgba(255, 255, 255, 0.87);
    caret-color: $white;
  }

  .mat-mdc-form-field-flex {
    align-items: center;
    height: 100%;
  }

  &.mat-focused {
    background-color: $rich-black-light-ripple;
  }

  .mat-mdc-form-field-focus-overlay {
    background-color: rgba(255, 255, 255, 0);
    opacity: 0;
  }

  .mdc-text-field--filled:not(.mdc-text-field--disabled) {
    background-color: inherit;
    border-radius: 4px;

    .mdc-line-ripple::before {
      border-bottom-color: $rich-black;
    }
  }

  .mdc-text-field:not(.mdc-text-field--disabled) .mdc-floating-label {
    color: rgba(255, 255, 255, 0.6);
  }

  .mat-mdc-form-field-subscript-wrapper {
    display: none;
  }

  &:hover {
    background-color: $rich-black-light-ripple;
    transition: background-color 0.2s ease-in-out;

    .mat-mdc-form-field-focus-overlay {
      opacity: 0;
    }
  }

  &.padding-r-s .mdc-text-field--filled {
    padding-right: 8px;
  }
}
