mat-list.list {
  padding: 0;

  mat-list-item.list-item {
    padding: 0;
    cursor: pointer;
    transition: background-color 0.15s ease-in-out;

    mat-icon.item-icon {
      margin-inline: 16px;
      color: $white;
    }

    span.item-label {
      color: $white;
      line-height: $line-height-xs;
    }

    &:hover {
      background-color: $rich-black;
      transition: background-color 0.15s ease-in-out;
    }
  }
}
