.ck.ck-editor__editable.ck-blurred:not(.ck-editor__nested-editable) {
  border: none;
  border-color: var(--ck-color-focus-border);
  box-shadow: none;
  transition: 0.2s ease-in-out;
  transition-property: border, outline, box-shadow;
}

.ck.ck-editor__editable.ck-blurred:not(.ck-editor__nested-editable):hover {
  border: var(--ck-focus-ring);
  box-shadow:
    var(--ck-inner-shadow),
    0 0;
  outline: none;
  transition: 0.2s ease-in-out;
  transition-property: border, outline, box-shadow;
}

.ck.ck-block-toolbar-button {
  transform: translateX(calc(var(--ck-spacing-large) * -1));
}

div.ck.ck-balloon-panel.ck-powered-by-balloon {
  display: none;
}

.ck-content ul {
  padding-inline-start: 40px;
}

div.ck.ck-reset_all :not(.ck-reset_all-excluded *),
.ck.ck-reset_all {
  font-family: $font-family, $font-family-alt;
}

.ck div.ck-toolbar {
  min-width: 127px;

  & > .ck-toolbar__items {
    justify-content: center;
  }
}
