.ck.ck-editor__editable.ck-blurred:not(.ck-editor__nested-editable) {
  border: none;
  border-width: 2px;
  border-color: var(--ck-color-focus-border);
  box-shadow: none;
  transition: 0.2s ease-in-out;
  transition-property: border, outline, box-shadow;
}

.ck.ck-editor__editable.ck-blurred:not(.ck-editor__nested-editable):hover {
  border: var(--ck-focus-ring);
  border-width: 2px;
  box-shadow:
    var(--ck-inner-shadow),
    0 0;
  outline: none;
  transition: 0.2s ease-in-out;
  transition-property: border, outline, box-shadow;
}

div.ck.ck-balloon-panel.ck-powered-by-balloon {
  display: none;
}

.ck-content ul {
  padding-inline-start: 40px;
}

div.ck.ck-reset_all :not(.ck-reset_all-excluded *),
.ck.ck-reset_all {
  font-family: $font-family, $font-family-alt;
}

div.ck.ck-balloon-panel.ck-balloon-panel_toolbar_west.ck-toolbar-container {
  z-index: 10000;
}

div.ck.ck-color-selector {
  button.ck-color-grid__tile {
    border: 1px solid black;
  }
}

div.ck.ck-balloon-panel.ck-tooltip {
  z-index: 100000;
}

.ck-editor__editable_inline {
  min-height: 100%;

}

div.ck.ck-balloon-panel {
  z-index: 100000;
}
