// Fonts
$font-family: 'Montserrat';
$font-family-alt: sans-serif;

// Font Sizing
$font-size-html: 62.5%;
$font-size-xs: 0.8rem;
$font-size-sm: 1.2rem;
$font-size-base: 1.6rem;
$font-size-lg: 1.8rem;
$font-size-xl: 2.4rem;
$font-size-2xl: 3rem;
$font-size-3xl: 3.6rem;
$font-size-4xl: 4.2rem;

// Font Weights
$font-weight-regular: 400;
$font-weight-semibold: 600;
$font-weight-bold: 700;

// Line Heights
$line-height-xs: 1.2;

// Colors
$rich-black: #03071eff;
$rich-black-light: #292c40;
$rosewood: #6a040fff;
$penn-red: #9d0208ff;
$engineering-orange: #d00000ff;
$sinopia: #dc2f02ff;
$persimmon: #e85d04ff;
$princeton-orange: #f48c06ff;
$selective-yellow: #ffba08ff;
$white: #ffffffff;
$rich-black-light-ripple: rgba(41, 44, 64, 0.75);
$rich-black-lighter: rgba(41, 44, 64, 0.35);

// Heights
$toolbar-height: 64px;

// Transition durations
$sidenav-transition-duration: 400ms;

//Breakpoints

$breakpoint-mobile: 480px;

//Box Shadows
$box-shadow-xl:
  0px 10px 13px -6px rgba(0, 0, 0, 0.2),
  0px 20px 31px 3px rgba(0, 0, 0, 0.14),
  0px 8px 38px 7px rgba(0, 0, 0, 0.12);
