<section
  class="container"
  [class.container-mobile]="isMobile$ | async"
  [ngStyle]="style"
  #element
  [style.background-color]="backgroundColor">
  <div class="content">
    <gridster #gridster [options]="gridOptions" [style.background-color]="backgroundColor">
      <gridster-item [item]="item" *ngFor="let item of gridItems" [style.background-color]="backgroundColor">
        <div class="drag-handle mat-elevation-z6">
          <mat-icon svgIcon="drag"></mat-icon>
        </div>
        <drd-rich-text-editor [id]="item['id']" [data]="item['data']"></drd-rich-text-editor>
      </gridster-item>
    </gridster>
  </div>
</section>
