$rich-black: var(--rich-black);
$white: var(--white);

.drag-handle {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 10px;
  right: 10px;
  color: $rich-black;
  background-color: $white;
  z-index: 10;
  border-radius: 4px;
  cursor: move;
  opacity: 0.4;
  transition: opacity 0.3s ease-in-out;
}

.drag-handle:hover {
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
}

gridster {
  background-color: inherit;;
}

gridster.display-grid {
  background-color: gray !important;
  transition: background-color 0.3s ease-in-out;
}
