.section {
  height: 100%;
  .logo {
    width: 500px;
  }

  p {
    font-size: var(--font-size-xl);
  }

  .editor {
    font-size: var(--font-size-xl);
    width: 200px;
    height: 50px;
  }
}




