<header>
  <mat-toolbar color="primary" class="mat-elevation-z6">
    <button
      *ngIf="editor; else emptyFirst"
      mat-icon-button
      class="menu"
      (click)="onClick()"
      matRipple
      [matRippleColor]="rippleColor">
      <mat-icon svgIcon="menu"></mat-icon>
    </button>
    <mat-icon
      class="logo"
      svgIcon="dragon-drop-full-white"
      routerLink=""></mat-icon>
    <div class="spacer"></div>
    <button *ngIf="editor" mat-raised-button color="accent">Export</button>
  </mat-toolbar>
</header>

<ng-template #emptyFirst>
  <div class="empty"></div>
</ng-template>
