<header>
  <mat-toolbar color="primary" class="mat-elevation-z6">
    <div class="subcontainer">
      <button class="menu" (click)="onMenuClick()" matRipple [matRippleColor]="rippleColor">
        <mat-icon svgIcon="menu"></mat-icon>
      </button>
      <mat-icon
        *ngIf="(isMobile$ | async) === false"
        class="logo"
        svgIcon="dragon-drop-full-white"
        routerLink=""></mat-icon>
      <mat-icon *ngIf="isMobile$ | async" class="logo logo--small" svgIcon="dragon-drop-short" routerLink=""></mat-icon>
      <mat-button-toggle-group
        [value]="currentViewport$ | async"
        (change)="onViewportChange($event)"
        class="viewport-toggle"
        name="viewport"
        aria-label="Toggled Viewport">
        <mat-button-toggle
          class="toggle-option"
          [value]="Viewport.Desktop"
          matRipple
          [matTooltip]="'EDITOR.TOOLBAR.TOOLTIPS.DESKTOP' | translate">
          <mat-icon svgIcon="desktop"></mat-icon>
        </mat-button-toggle>
        <div class="vertical-divider"></div>
        <mat-button-toggle
          class="toggle-option"
          [value]="Viewport.Mobile"
          matRipple
          [matTooltip]="'EDITOR.TOOLBAR.TOOLTIPS.MOBILE' | translate">
          <mat-icon svgIcon="mobile"></mat-icon>
        </mat-button-toggle>
      </mat-button-toggle-group>
      <div class="undo-redo">
        <button
          mat-icon-button
          [disabled]="(canUndo$ | async) !== true"
          (click)="undo()"
          matTooltip="{{ 'EDITOR.TOOLBAR.TOOLTIPS.UNDO' | translate }}">
          <mat-icon svgIcon="undo"></mat-icon>
        </button>
        <button
          mat-icon-button
          [disabled]="(canRedo$ | async) !== true"
          (click)="redo()"
          matTooltip="{{ 'EDITOR.TOOLBAR.TOOLTIPS.REDO' | translate }}">
          <mat-icon svgIcon="redo"></mat-icon>
        </button>
      </div>
    </div>
    <div class="current-page-title">
      <mat-form-field class="current-page select-form-field">
        <mat-select [value]="currentPageId$ | async" (selectionChange)="onPageSelect($event)" panelClass="select-panel">
          <mat-option class="select-option" *ngFor="let page of pages$ | async" [value]="page.id">
            {{ page.title }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="subcontainer subcontainer--end">
      <button [disabled]="!pagesCount" mat-raised-button color="accent" (click)="exportWebsite()">
        {{ 'EDITOR.TOOLBAR.BUTTONS.EXPORT' | translate }}
      </button>
    </div>
  </mat-toolbar>
</header>
