<div class="theme-colors-container">
  <div
    class="theme-color"
    [class.theme-color-height]="height"
    *ngFor="let color of colors$ | async | keyvalue: returnZero; trackBy: identify">
    <label class="theme-color-label">
      {{ 'EDITOR.SIDENAVS.THEME_SETTINGS.PANELS.COLORS.LABELS.' + (color.key | uppercase) | translate }}:
    </label>
    <div
      class="theme-color-input-wrapper"
      [colorPicker]="color.value"
      [cpPosition]="'auto'"
      [cpPositionOffset]="'50%'"
      [cpPositionRelativeToArrow]="true"
      [cpAlphaChannel]="'disabled'"
      (colorPickerChange)="onColorChange(color.key, $event)">
      <div class="theme-color-input" [style.background-color]="color.value"></div>
    </div>
  </div>
</div>
