header {
  .mat-toolbar {
    position: relative;
    height: $toolbar-height;
    z-index: 10;
    gap: 10px;

    .menu {
      border-radius: 0;
      height: 100%;
      display: flex;
      align-items: center;
      overflow: hidden;
      transition: background-color 0.2s ease-in-out;

      & > .mat-mdc-button-persistent-ripple {
        border-radius: 0;
      }
    }

    .menu:hover {
      background-color: var(--rich-black-lighter-ripple);
      transition: background-color 0.2s ease-in-out;
    }

    .mat-icon.logo {
      display: flex;
      height: auto;
      width: 200px;
      cursor: pointer;
    }

    .empty {
      width: 48px;
    }

    .spacer {
      flex: 1 1 auto;
    }
  }
}
