$rich-black-lighter: var(--rich-black-lighter);
$white: var(--white);

:host {
  .mat-sidenav-container {
    height: 100%;

    & > mat-sidenav {
      width: 250px;
      background-color: $rich-black-lighter;
      color: $white;

      .sidenav-list {
        padding: 0;

        .list-item {
          padding: 0;

          .item-icon {
            margin-inline: 16px;
            color: $white;
          }

          .item-title {
            color: $white;
            line-height: 1.2;
          }
        }

        .list-item:hover {
          background-color: var(--rich-black);
        }
      }
    }
  }
}
