<div class="accordion-wrapper">
  <mat-accordion multi="true">
    <mat-expansion-panel [expanded]="true" class="panel-box-shadow headless">
      <div class="panel-content-wrapper mat-component-density-s">
        <drd-website-settings></drd-website-settings>
        <mat-form-field class="resize-handle-direction select-form-field mat-component-density-s">
          <mat-label title="{{ translations['EDITOR.SIDENAVS.GLOBAL_SETTINGS.LABELS.RESIZE_HANDLE_DIRECTION'] }}">
            {{ translations['EDITOR.SIDENAVS.GLOBAL_SETTINGS.LABELS.RESIZE_HANDLE_DIRECTION'] }}
          </mat-label>
          <mat-select
            [value]="resizeHandleDirection$ | async"
            (selectionChange)="setResizeHandleDirection($event)"
            panelClass="select-panel">
            <mat-option
              class="select-option select-option-s"
              *ngFor="let direction of ResizeHandleDirection | keyvalue"
              [value]="direction.value">
              {{ direction.key }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
</div>
