$rich-black-lighter: var(--rich-black-lighter);
$rich-black-light-ripple: var(--rich-black-light-ripple);

.accordion-wrapper .mat-accordion .mat-expansion-panel .panel-content-wrapper {
  gap: 20px;

  .website-title.input-form-field.mat-mdc-form-field {
    height: 47.2px;

    input.mdc-text-field__input {
      padding-block: 5px;
      height: 100%;
    }
  }

  .resize-handle-direction.select-form-field {
    background-color: $rich-black-lighter;

    &:hover, &.mat-focused {
      background-color: $rich-black-light-ripple;
    }
  }
}
