:root {
  //Colors
  --primary-color: initial;
  --secondary-color: initial;
  --tertiary-color: initial;

  // Font Families
  --primary-font-family: #{$font-family};
  --secondary-font-family: #{$font-family};
  --alternative-font-family: #{$font-family-alt};

}
