:root {
  //Colors
  --primary-color: #{$rosewood};
  --secondary-color: #{$rich-black};
  --tertiary-color: #{$sinopia};

  // Font Families
  --primary-font-family: #{$font-family};
  --secondary-font-family: #{$font-family};
  --alternative-font-family: #{$font-family-alt};
}
