div.canvas * {
  font-family: var(--primary-font-family), var(--alternative-font-family);
}

div.cdk-drag-preview * {
  font-family: var(--primary-font-family), var(--alternative-font-family);
}

.canvas {
  font-size: $font-size-base;
}

.canvas * {
  font-size: inherit;
}

.canvas p {
  text-align: unset;
  line-height: 1.5;
}

.canvas h2 {
  font-size: 3rem;
  font-weight: 700;
  line-height: 3rem;
  letter-spacing: normal;
  margin-block: calc(0.6em * 1.5);
}

.canvas h3 {
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.6;
  letter-spacing: 0.0125em;
  margin-block: calc(0.6em * 1.5);
}

.canvas h4 {
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.4;
  margin-block: calc(0.6em * 1.5);
}

.canvas li {
  margin-bottom: 0.6em;

  span {
    display: inline-block;
    margin-bottom: 0.6em;
  }
}
