div.canvas *,
div.cdk-drag-preview * {
  font-family: $font-family, $font-family-alt;
}

.canvas {
  font-size: $font-size-base;
}

.canvas * {
  font-size: inherit;
}

.canvas p {
  text-align: unset;
  line-height: 1.5;
}

.canvas h4 {
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.4;
}
