$rich-black-light: var(--rich-black-light);
$penn-red: var(--penn-red);

.panel-header {
  gap: 1rem;
}

.panel-content-wrapper {
  .page {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;

    .page-title.editor-input.mat-mdc-form-field {
      height: 40px;
      width: calc(100% - 20px);

      input.mdc-text-field__input {
        padding-block: 5px;
        height: 100%;
      }
    }
  }

  .mat-card {
    height: 36px;
    cursor: pointer;
    background-color: $rich-black-light;
    outline-color: $penn-red;
    outline-offset: 3px;

    .mat-mdc-card-content {
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 100%;
    }

    .mat-mdc-card-content:last-child {
      padding-bottom: 0;
    }

    .mat-mdc-card-content:first-child {
      padding-top: 0;
    }

    &.focused {
      outline: 2px solid $penn-red;
      outline-offset: 1px;
      transition: outline-offset 0.05s ease-in;
    }
  }
}
