<div class="accordion-wrapper">
  <mat-accordion>
    <mat-expansion-panel class="panel-box-shadow" (opened)="pagesOpened = true" (closed)="pagesOpened = false">
      <mat-expansion-panel-header class="panel-header">
        <mat-panel-title>{{ 'EDITOR.SIDENAVS.PAGES.PANELS.PAGES.TITLE' | translate }}</mat-panel-title>
        <button
          *ngIf="pagesOpened"
          class="icon-button"
          (click)="addPage($event)"
          mat-icon-button
          matTooltip="{{ 'EDITOR.SIDENAVS.PAGES.PANELS.PAGES.TOOLTIPS.ADD_PAGE' | translate }}"
          matTooltipPosition="right">
          <mat-icon svgIcon="add"></mat-icon>
        </button>
      </mat-expansion-panel-header>
      <div class="panel-content-wrapper mat-component-density-xs">
        <div class="page" *ngFor="let page of pagesInput$ | async">
          <mat-form-field class="editor-input page-title">
            <input [style.display]="page.confirmDelete ? 'none' : 'block'" matInput [formControl]="page.formControl" />
            <span *ngIf="page.confirmDelete">
              {{ 'EDITOR.SIDENAVS.PAGES.PANELS.PAGES.CONFIRMATIONS.DELETE_PAGE' | translate }}
            </span>
            <button
              *ngIf="page.valueChanged || page.confirmDelete"
              class="icon-button"
              mat-icon-button
              (click)="confirm(page)">
              <mat-icon svgIcon="check"></mat-icon>
            </button>
            <button
              *ngIf="page.valueChanged || page.confirmDelete"
              class="icon-button"
              mat-icon-button
              (click)="close(page)">
              <mat-icon svgIcon="close"></mat-icon>
            </button>
          </mat-form-field>
          <button
            class="icon-button"
            mat-icon-button
            (click)="removePage(page)"
            matTooltip="{{ 'EDITOR.SIDENAVS.PAGES.PANELS.PAGES.TOOLTIPS.DELETE_PAGE' | translate }}"
            matTooltipPosition="right">
            <mat-icon svgIcon="remove"></mat-icon>
          </button>
        </div>
      </div>
    </mat-expansion-panel>
    <mat-expansion-panel class="panel-box-shadow">
      <mat-expansion-panel-header>
        <mat-panel-title>{{ 'EDITOR.SIDENAVS.PAGES.PANELS.CURRENT_PAGE.TITLE' | translate }}</mat-panel-title>
      </mat-expansion-panel-header>
      <div class="panel-content-wrapper">
        <mat-card *ngFor="let component of currentPageComponents$ | async"></mat-card>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
</div>
