html {
  font-size: $font-size-html;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
  font-family: $font-family, $font-family-alt;
}

html * {
  font-size: $font-size-base;
  font-family: inherit;
}

p {
  text-align: center;
  line-height: 1.5;
}
